@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
html, body{

}


h1{
	font-family: 'Lobster Two', cursive;
	font-size:500%;
	font-weight: 700;
	float: left;
	margin: 190px 150px;
}
 
.box{
  height: 100%; 
  padding: 30px; 
  border: 1px solid white; 
  width: 300px;
  float: right;
  color: black;
  background: #fff ;
  
}
.input-field{
  border-bottom:  1px solid black;
  padding: 5px;
}
.select-box{
border-radius: 2px;
  border: 1px solid Black;
  padding: 5px;
}

.zoom{
	transition: transform .2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#home {
	background: url(images/login-background.jpg) no-repeat center center;
	display: table;
	height: 90%;
	position: relative;
	width: 100%;
	background-size: cover;
}

@media (max-width: 760px){
	.landing-text h1{
		font-size:300%; 
	}
